@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #000;
    --color-secondary: #fff;
    --color-accent: #c33623ff;
}

body {
    @apply overflow-hidden;
}

@layer components {
    .page-width {
        @apply lg:max-w-[1200px] md:max-w-[900px] sm:max-w-[600px] max-w-[300px] mx-auto w-[80vw];
    }
}